.title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  text-align: center;
  color: #d7dae0;
  text-shadow: 3px 2px 4px #6e6e75;
}

.grid_table {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 18px;
}
