.title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  color: #d7dae0;
  text-shadow: 3px 2px 4px #6e6e75;
}

.grid_table {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: 18px 0;
}

.wrapper_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.title_form {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #262728;
}

.wrapper_actions {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 15px;

  @media only screen and (max-width: 950px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.filters {
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 600px;
}

.grid_table {
  margin-top: 30px;
}

.actions {
  display: flex;
  gap: 12px;
}

.label {
  font-size: 14px;
  color: #262728;
}

.ag-cell-wrapper {
  height: 100%;
}

.error {
  border-color: red;
}

.error_message {
  color: red;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}
